# Environment files
*.env
!*.env.example

# Secrets
*.secret
*.key
*.pem
*.crt
*secret*/

# Python
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
.venv/

# Yarn / Node.js
# Note Yarn sets up its own .gitignore, so leave this section blank for now.


# MacOS
.DS_Store

# Logs
*.log
logs/

# Scratch files
scratch/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
